html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 18px;
}

h2 {
  font-weight: 800;
  font-size: 30px;
}

input,
textarea {
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  flex: 1;
}

.inputs {
  display: flex;
  height: 500px;
  column-gap: 30px;
}

.left,
.right {
  flex: 1;
  flex-shrink: 0;
}

.right {
  flex: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.left {
  display: flex;
  flex-direction: column;
}

.left textarea {
  flex: 1;
}

button {
  padding: 12px 20px;
  margin-top: 18px;
  background-color: #06aee0;
  border: none;
  border-radius: 3px;
  font-weight: 900;
  font-size: 18px;
}
